#game-board {
    border-collapse: collapse;
}

#game-board td {
    border: 1px solid black;
    width: 32px;
    height: 32px;
}

.snake {
    background-color: blueviolet;
}

.food {
    background-color: green;
}